# Copy this file to .env and update the values locally.
# Do not commit .env.

GCP_PROJECT_ID=your-gcp-project-id
GCP_BUCKET_NAME=your-unique-bucket-name
GCP_RAW_PREFIX=raw/mvtec
GCP_PROCESSED_PREFIX=processed
GCP_MODEL_PREFIX=models
LOCAL_DATA_DIR=data/raw/mvtec
GOOGLE_APPLICATION_CREDENTIALS=secrets/gcp-service-account.json
