# Copy this file to .env and update the values locally.
# Do not commit .env.

GCP_PROJECT=ml-defect-detection-rob
GCS_BUCKET=ml-defect-detection-rsanmiguel2023
DATASET_PREFIX=raw/mvtec_ad
GCP_RAW_PREFIX=raw/mvtec
GCP_PROCESSED_PREFIX=processed
GCP_MODEL_PREFIX=models
LOCAL_DATA_DIR=data/raw/mvtec
GOOGLE_APPLICATION_CREDENTIALS=secrets/gcp-service-account.json
