GCP_PROJECT_ID=your-gcp-project-id
GCP_BUCKET_NAME=your-unique-bucket-name
GCP_RAW_PREFIX=raw/mvtec
GCP_MODEL_PREFIX=models
LOCAL_DATA_DIR=data/raw/mvtec
LOCAL_MODEL_DIR=models
IMAGE_SIZE=224
BATCH_SIZE=32
EPOCHS=5
